<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="DNAFactory\Theme\Api\ConfigurationInterface" type="DNAFactory\Theme\Helper\Configuration" />
    <preference for="DNAFactory\Theme\Api\ThemeConfigurationInterface" type="DNAFactory\Theme\Helper\ThemeConfiguration" />
</config>
