<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dnafactory_theme" translate="label" sortOrder="10" class="dnafactory-icon-class-menu-theme">
            <label>DNAFactory Theme</label>
        </tab>
        <section id="dnafactory_theme" translate="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Theme</label>
            <tab>dnafactory_theme</tab>
            <resource>DNAFactory_Theme::dna_access_theme</resource>
            <group id="cart" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cart Configuration</label>
                <field id="cart_max_crosssell_items_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Custom Max Crosssell items:</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cart_max_crosssell_items" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max Crosssell items:</label>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="dnafactory_theme/cart/cart_max_crosssell_items_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
